<h1><%= @shelter.name %></h1>

<p><%= "#{@shelter.address} #{@shelter.city}, #{@shelter.state} #{@shelter.zip}" %></p>

<section style="color:green" id="stats-<%= @shelter.id %>" >
 <p>Pet Count: <%= @shelter.pets.count %>
 Average Rating: <%= @shelter.average_rating.round(1) %>
 Apps on File:
 <% apps_per_shelter = @shelter.pets.map do |pet| %>
      <% pet.applications %>
 <% end %>
 <%= apps_per_shelter.flatten.uniq.length %>
</section>


<%=link_to '<button type="button">Update Shelter</button>'.html_safe, "/shelters/#{@shelter.id}/edit", method: :get %>

<p><form action="/shelters/<%= @shelter.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete"/>
</form></p>

<h2>Dogs Available for Adoption</h2>
<%=link_to '<button type="button">Pets Available</button>'.html_safe, "/shelters/#{@shelter.id}/pets", method: :get %>

<h2>Reviews</h2>
<%=link_to 'Create New Review', "/shelters/#{@shelter.id}/reviews/new", method: :get %>
<% @shelter.reviews.each do |review| %>
  <section id="review-<%= review.id %>">
    <h3><%= review.title %></h3>
    <p>rating: <%= review.rating %></p>
    <p><%= review.content %></p>
    <img style= "width: 30%" src="<%= review.image_src%>" alt="review pic" %>
    <%=link_to 'Edit Review', "/reviews/#{review.id}/edit", method: :get %>
    <%=link_to 'Delete Review', "/reviews/#{review.id}", method: :delete %>
  </section>
  <!-- NEED CLEAN DEFAULT IF NO IMAGE IS PRESENT -->
  <!-- REMOVE INLINE CSS STYLING FOR IMAGE SIZE -->
<% end %>
