<h1>Favorites</h1>

<section id=pets>
<% if @favorite_pets == [] %>
  <h3>No favorited pets</h3>

<% else %>
  <%= button_to 'Remove All Favorites', "/favorites", method: :delete %>
  <%= button_to 'Adopt Pets', '/applications/new', method: :get %>
  <div class = polaroid>
  <% @favorite_pets.each do |fav_pet| %>
    <% pet = Pet.find(fav_pet.to_i) %>
    <div class = container>
    <div class = dogname_small><h2><%= link_to "#{pet.name}", "/pets/#{pet.id}"%></h2></div>
      <%= image_tag(pet.image_src) %>
      <%= button_to 'Remove from Favorites', "/favorites/#{pet.id}" , method: :delete %>
    </div>
    </div>
  <% end %>
<% end %>
</section>

<br>
<section id=apps>
  <br>
    <h1>Applications for Pets:</h1>
<% @pets.each do |pet| %>
  <% if pet.applications != [] %>
    <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
  <% end %>
<% end %>
</section>
