<%= form_tag("/favorites", method: :post) do %>
<h4>Select pets to adopt:</h4>
  <section>
    <% session[:favorites].each do |favorite| %>
      <% @pet = Pet.find(favorite.to_i) %>
      <p><%= check_box_tag :pet, @pet.id %>
      <%= label_tag @pet.name %></p>
    <% end %>
  </section>
  <p><%= label_tag :name %>
     <%= text_field_tag :name %></p>
  <p><%= label_tag :address %>
    <%= text_field_tag :address %></p>
  <p><%= label_tag :city %>
     <%= text_field_tag :city %></p>
  <p><%= label_tag :state %>
     <%= text_field_tag :state %></p>
  <p><%= label_tag :zip %>
    <%= text_field_tag :zip %></p>
  <p><%= label_tag :phone_number %>
     <%= text_field_tag :phone_number %></p>
  <p><%= label_tag :description %>
     <%= text_field_tag :description %></p>
<%= submit_tag "Submit"%>
<% end %>
