<a href="/pets">All Pets</a>

<h1><%= @pet.name %></h1>

<div class = polaroid>
<div class = container><img src="<%= @pet.image_src%>" alt="dog pic" %></div>
<div class = dogname><h4><%= @pet.name %></h4></div>
<div class = petinfo>
<p>Age: <%=@pet.approximate_age%></p>
<p>Sex: <%=@pet.sex%></p>
<p>Description: <%=@pet.description%></p>
<p>Adoption Status: <%=@pet.status%></p>
<p>Shelter: <a href="/shelters/<%=@pet.shelter.id%>"><%=@pet.shelter.name%></a></p>
</div>
</div>

<center>
  <%=link_to "Edit", "/pets/#{@pet.id}/edit", method: :get %>

<form action="/pets/<%=@pet.id%>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete"/>
</form>


<a href="/shelters/<%= @pet.shelter.id %>">Shelter Information</a>



<% if session[:favorites] == nil %>
<%= button_to 'Add Pet to Favorites', @favorite_favorites_path, method: :post %>
<% elsif session[:favorites].include?(@pet.id.to_s)  %>
<%=  button_to 'Remove from Favorites', "/favorites/#{@pet.id}" , method: :patch %>
<% else %>
<%= button_to 'Add Pet to Favorites', @favorite_favorites_path, method: :post %>
<% end %>
<!--  @favorite_pets_path @favorite_favorites_path  @destroy_favorites_path-->


</center>
