<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <div class="header">
  <a href="/" class="logo"><img class = logo src="https://cdn.shopify.com/s/files/1/1102/6652/products/adopt-1597f.gif?v=1504899905" alt="Adopt Dont Shop"></a>
  <div class="header-right">
    <!-- <a class="active" href="/">Home</a> -->
    <a href="/shelters">Shelters</a>
    <a href="/pets">Pets</a>
    <p> &star;
      <% if session[:favorites] == nil %>
      <%= "0" %>
      <% else %>
      <%= session[:favorites].length %>
      <%end%>
      Favorites</p>
  </div>
</div>

  <body>

    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
